.text_red {
	color: red;
}

.container_head {
	padding-top: 20px;
	padding-bottom: 32px;
}

.btn_algin_right {	
	font-size: 16px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: 0em;
}

.layout_titel_2 {
	font-size: 18px;
    text-transform: uppercase;   
}
.text_center{
	text-align: center;
	margin-bottom: 46px; 
}

.event__btn_m {
    min-width: 170px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    border: none;
}

.search_filter_pos{
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search_filter_pos label:nth-child(1){
    width: 420px;
    position: relative;
    font-size: 16px;
}
.search_filter_pos label:nth-child(2){
    width: 190px;
    position: relative;
    font-size: 16px;
}
.search_filter_pos label:nth-child(3){
    width: 190px;
    position: relative;
    font-size: 16px;
}
.search_filter_pos label span{
    font-size: 16px;
    line-height: 16px;
    color: #181818;
    display: inline-block;
    padding-bottom: 11px;
}
.search_filter_pos label input, .search_filter_pos label select{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bababa;
    padding: 0 10px;
    font-size: 16px;
    line-height: 14px;
    color: #787878;
}
.btn_search_style{
    width: 120px;
    height: 45px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    display: inline-block;
    font-size: 16pxc
}   
.btn__search{
	margin-bottom: 0px;
	margin-top: auto;
	font-size: 16px;
} 
.btn_reset_style{
    width: 120px;
    height: 45px;
    border: 1px solid #bababa ;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px !important;
} 
.form_search_section{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: auto;
    font-size: 16px;

}
.form_search_section input:nth-child(1){
    border: 1px solid #f5283b;
    background-color: #f5283b;
    color: #fff;
    transition: all ease .5s;
    margin-right: 6px;
}
.form_search_section input:nth-child(1):hover{
    background-color: #1d1d1e;
    border: 1px solid #1d1d1e;
    color: #fff;
    transition: all ease .5s;
}  
.form_search_section input:nth-child(2){
    border: 1px solid #bababa;
    color: #787878;
    transition: all ease .5s;
    
}
.form_search_section input:nth-child(2):hover{
    background-color: #e11f46;
    color: #fff;
    transition: all ease .5s;
    border-color: #e11f46;
}
.wrap_courses{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 19px;
}
.card_courses {
	width: 556px;
	height: 80px;
	margin-top: 21px;
	border: 1px solid #bababa;
	background-color: #fff;
	display: flex;
	align-self: stretch;
	align-items: center;	
}
.short_card{
	width: 45px;
	height: 23px;
	color: #fff;
	font-size: 14px;
	margin-left: 12px;
	margin-bottom: 38px; 
	background-color: #d1d1d1;
	border-radius: 5px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.cont_wrap {
	margin-left: 23px;
}
.cont_wrap h4 {
	font-size: 16px;
}
.cont_wrap p {
	color: #bdbdbd;
	display: inline-block;
}
.cont_wrap p:nth-child(2) {
	padding-right: 18px;
}
.img_wrap{ 
	position: relative;
	margin-right: 16px;
	margin-left: auto;
}
.first_fl {
	position: relative;
	left: 44px;
	box-shadow: 0 0 0 4px #fff;
}
.sub_send_wrap {
	margin-top: 185px;
	margin-bottom: 41px;
}
.sub_space_pos {
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn_sub {
	margin-left: 20px;
	font-size: 16px;
}

.sub_pos_wrap{	
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sub_pos_wrap label input {
	height: 45px;
	font-size: 14px;
	width: 495px;
}