.text_red {
	color: red;
}

.container_head {
	padding-top: 20px;
	padding-bottom: 32px;


}

.btn_algin_right {	
	font-size: 16px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: 0em;
}

.layout_titel_2 {
	font-size: 18px;
    text-transform: uppercase;   
}

.event__btn_m {
    min-width: 170px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    border: none;
}

.search_filter_pos{
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search_filter_pos label:nth-child(1){
    width: 420px;
    position: relative;
}
.search_filter_pos label:nth-child(2){
    width: 190px;
    position: relative;
}
.search_filter_pos label:nth-child(3){
    width: 190px;
    position: relative;
}
.search_filter_pos label span{
    font-size: 16px;
    line-height: 16px;
    color: #181818;
    display: inline-block;
    padding-bottom: 11px;
}
.search_filter_pos label input, .search_filter_pos label select{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #bababa;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    color: #787878;
}
.btn_search_style{
    width: 120px;
    height: 45px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px !important;
}   
.btn__search{
	margin-bottom: 0px;
	margin-top: auto;
	font-size: 16px;
} 
.btn_reset_style{
    width: 120px;
    height: 45px;
    border: 1px solid #bababa ;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px !important;
} 
.form_search_section{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: auto;
}
.form_search_section input:nth-child(1){
    border: 1px solid #f5283b;
    background-color: #f5283b;
    color: #fff;
    transition: all ease .5s;
    margin-right: 6px;
}
.form_search_section input:nth-child(1):hover{
    background-color: #1d1d1e;
    border: 1px solid #1d1d1e;
    color: #fff;
    transition: all ease .5s;
}  
.form_search_section input:nth-child(2){
    border: 1px solid #bababa;
    color: #787878;
    transition: all ease .5s;
    
}
.form_search_section input:nth-child(2):hover{
    background-color: #e11f46;
    color: #fff;
    transition: all ease .5s;
    border-color: #e11f46;
}
.card_courses {
	width: 100%;
	height: 80px;
	margin-right: 30px;
	border: 1px solid #bababa;


}
.short_card{
	width: 45px;
	height: 32px;
	color: #fff;
	font-size: 14px;
	background-color: #d1d1d1;
	border-radius: 5px;
	align-items: center;
	position: relative;
	top: 17px;
	left: 12px;
	display: flex;
    align-items: center;
    justify-content: center


}
